.clickable {
	cursor: pointer;
}

#details {
	position: absolute;
	width: 0px;
	height: 0px;
	border: 1px solid #5bc0de;
	background-color: #fff;
	font-size: 14px;
	color: #000;
	z-index: 1001;
	word-wrap: break-word;
}

#detailsText {
	margin-top: 20px;
}

.closeX {
	float: right;
	color: #000;
	margin-right: 5px;
	cursor: pointer;
	height: 10px;
}

.path {
	stroke: #000;
	stroke-width: 1px;
}

.circle {
	stroke: none;
	fill: #5bc0de;
}

.circle.highlighted {
	stroke: none;
	fill: #00ff00;
}

.text {
	font-size: 12px;
	text-anchor: middle;
	fill: #000;
}

#scrollHoriz {
	float: left;
  	margin-left: 40%;
  	margin-right: auto;}

#scrollVertical {
  	margin-top: -35%;
  	margin-bottom: auto;  	
  	position: relative;
  	float: right;
}

#vis-container {
	overflow: hidden;
}
#vis-container:hover {
	overflow: auto;
}

#vis-container::-webkit-scrollbar
{
	width: 20px;
}

#vis-container::-webkit-scrollbar-thumb
{
	background-color: #5bc0de;
	border-radius: 10px;
	border: 6px solid rgba(255, 255, 255, 1);
}
